<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineStore</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexProductServlet</display-name>
    <servlet-name>IndexProductServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.IndexProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexProductServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/categoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByCategoryServlet</display-name>
    <servlet-name>FindProductByCategoryServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.FindProductByCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByCategoryServlet</servlet-name>
    <url-pattern>/findProductByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>OrderLoginFilter</display-name>
    <filter-name>OrderLoginFilter</filter-name>
    <filter-class>com.onlineStore.web.filter.OrderLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OrderLoginFilter</filter-name>
    <servlet-name>OrderServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AutoLoginFilter</display-name>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.onlineStore.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryServlet</display-name>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/adminCategory</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DecodingFilter</display-name>
    <filter-name>DecodingFilter</filter-name>
    <filter-class>com.onlineStore.web.filter.DecodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DecodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductServlet</display-name>
    <servlet-name>AdminProductServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.AdminProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductServlet</servlet-name>
    <url-pattern>/adminProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderServlet</display-name>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>com.onlineStore.web.servlet.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/adminOrder</url-pattern>
  </servlet-mapping>
</web-app>